* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(
        #aab9da,
        #7e9cdc,
        #7097EA,
        #4169E1,
        #3957D7,
        #3044C5,
        #2D39A0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}


.chat {
    width: 700px;
    height: 520px;
    margin: 80px auto;
    background: #4169e1;
    padding: 20px;
    border-radius: 10px;
}

#box {
    height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background: #8da5ed
}
#msg {
    width: 80%;
    height: 35px;
    border-radius: 10px;
}
#ask {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #acafbd;
    transition: transform 0.3s ease-in-out;
    
}
#ask:hover {
    background: #90949c;
    cursor: pointer;
    transform: scale(1.1);
}

#main {
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin-left: 210px;
    margin-top: 5px;
    height: 30px;
     /* smooth animation */
     transition: transform 0.3s ease-in-out;
}
#main:hover {
    transform: scale(1.1);
}
#element {
    height: 650px;
    width: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff
}